:root {

  --black: black;

  --canary: #ffe919ff;

  --white: white;

  --black-olive: #303632ff;

  --field-drab: #615808ff;

}

* {
  box-sizing: border-box;
  font-family: Ubuntu , sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  align-content: flex-start;
  background-color: var(--black);
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  min-height: 100vh;
}

.main-container {
  background-image: linear-gradient(180deg, var(--black)
  0.5%, var(--black-olive) 50%, var(--black) 99%);
  display: flex;
  flex-direction: column;
  margin: 0 2.5vw;
  padding: 2.5vh 0;
  width: 95vw;
}

.container {
  align-items: center;
  align-self: center;
  background-image: linear-gradient(90deg, var(--black)
  0.5%, var(--black-olive) 50%, var(--black) 99%);
  box-shadow: 0 0 9px 5px inset var(--black);
  display: flex;
  justify-content: center;
  width: 95vw;
}

.filter-section, .filter-view-section, .filter-label, .filter-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.filter-section, .filter-view-section {
  align-self: center;
  background-image: linear-gradient(90deg, var(--black)
  0.5%, var(--black-olive) 50%, var(--black) 99%);
  box-shadow: 0 0 9px 5px inset var(--black);
  width: 95vw;
}

.filter-section {
  height: 13vh;
}

.filter-view-section {
  flex-wrap: wrap;
  height: fit-content;
  min-height: 8vh;
  padding: 1vh;
}

.filter-view-section button {
  margin: 0 1.5vw;
}

.filter-label, .filter-container {
  background-color: var(--black);
  border-radius: 12px;
  box-shadow: 0 0 7px 1px inset var(--black) , 0
    0 9px 2px inset var(--black-olive) , 0
    0 12px 4px inset var(--black-olive);
  color: var(--white);
  flex-direction: column;
  font-size: 18px;
  height: 80%;
  margin: 0 8px;
  padding: 0 2.5vw;
}

.filter-container {
  align-items: flex-start;
}

.filter-container input {
  margin: 0.8vh 0;
}

.select-filter, .input-filter {
  background-color: var(--black);
  border: 1px solid var(--black);
  border-radius: 6px;
  box-shadow: 0 0 7px 2px var(--black-olive);
  color: var(--white);
  font-size: 1.8vh;
  margin: 1vh 0;
  padding: 4px;
  width: 8.5vw;
}

.select-filter:focus, .input-filter:focus {
  border: 1px solid var(--canary);
  box-shadow: 0 0 7px 2px var(--field-drab);
  outline: none;
}

.button {
  background-color: var(--black);
  border: 2px solid var(--black-olive);
  border-radius: 6px;
  box-shadow: 0 0 3px 2px var(--black);
  color: var(--black-olive);
  font-family: Star Wars , sans-serif;
  font-size: 1.5vh;
  height: 5vh;
  transition: all 0.5s ease;
  width: 9.5vw;
}

.button:hover {
  background-image: linear-gradient(90deg, var(--black)
  0.5%, var(--black-olive) 50%, var(--black) 99%);
  border: 2px solid var(--black);
  color: var(--black);
  font-size: 2.2vh;
  text-shadow: 0 0 2px var(--canary) , 0
    0 3px var(--canary);
}
