.name-filter {
  align-self: center;
  border: 1px solid var(--black-olive);
  border-radius: 8px;
  box-shadow: 0 0 6px 2px inset var(--black-olive);
  font-size: 2vh;
  margin: 2vh 0;
  outline: none;
  padding: 0.5vh 0.5vw;
  text-align: center;
}
