.numberFiltersView-filters-section {
  align-items: center;
  background-color: var(--black);
  border-radius: 12px;
  box-shadow: 0 0 7px 1px inset var(--black) , 0
    0 9px 2px inset var(--black-olive) , 0
    0 12px 4px inset var(--black-olive);
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
  min-height: 4vh;
  width: 50vw;
}

.numberFiltersView-filter {
  margin: 0.3vh 0.5vw;
}

.numberFiltersView-button-remove {
  background-color: rgba(255, 0, 50, 0.8);
  border: 2px solid lightgray;
  border-radius: 5px;
  color: white;
  margin: 0 8px;
  padding: 2px 4px;
}
