.numberFilter-section, .numberFilter-label {
  align-items: center;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.numberFilter-section {
  align-self: center;
  background-color: var(--black-olive);
  box-shadow: 0 0 9px 5px inset var(--black);
  height: 13vh;
  margin: 10px 5vw;
  width: 90vw;
}

.numberFilter-label {
  background-color: var(--black);
  box-shadow: 0 0 7px 1px inset var(--black) , 0
    0 9px 2px inset var(--black-olive) , 0
    0 12px 4px inset var(--black-olive);
  color: var(--white);
  flex-direction: column;
  font-size: 18px;
  height: 80%;
  margin: 0 8px;
  padding: 0 2.5vw;
}
