/* .table {
  background-color: black;
  border-collapse: collapse;
  box-shadow: 0 0 10px 2px lightgray;
}

.table th, .table td {
  background-color: rgba(240, 240, 255, 0.1);
  box-shadow: 0 0 10px 2px inset lightgray;
} */
